* {
  box-sizing: border-box;
}

.master-outer-div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.master-inner-div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0px;
}

.left-outer-container {
  width: 20%;
}

.left-inner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15px 0 0;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:  0 25px 25px 25px;
  border: 1px solid #3b5998;
  border-radius: 5px;
}

.single-nav-icon {
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 25px;
}

.single-nav-icon svg {
  font-size: 2em;
  color: #3b5998;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.single-nav-icon:hover svg {
  color: #8b9dc3;
}

.single-nav-icon:hover h3 {
  color: #8b9dc3;
}

.single-nav-icon h3 {
  color: #3b5998;
  margin: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.right-outer-container {
  width: 80%;
}

.right-inner-container {
  width: 100%;
}

.home-intro {
  width: 100%;
  padding: 15px 15px 0px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #3b5998;
}

.home-intro h3 {
  margin-top: 0px;
}

.outer-library-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.library-container {
  width: 49%;
  border: 1px solid #3b5998;
  border-radius: 5px;
  padding: 15px;
}

.library-container h3 {
  margin-top: 0px;
}

.library-container ul {
  margin: 0px;
}

.project-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-summary-container {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #3b5998;
}

.project-summary-container h2 {
  margin: 0px;
}

.project-list-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

.project-item {
  width: 49%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 55px 15px 15px 15px;
  border: 1px solid #3b5998;
  border-radius: 5px;
  margin-bottom: 15px; 
}

.project-item p {
  margin-bottom: 0px;
}

.project-type-container {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  border-top: 5px;
}

.project-type {
  padding: 5px 0px;
  margin: 10px 15px;
}

.Codepen {
  background-color: #8b9dc3;
}

.project-title {
  width: 100%;
}

.project-title a {
  color: #3b5998;
  text-decoration: none;
}

.project-title h2 {
  margin: 0px;
}

.project-title h3 {
  margin: 0px;
}

.project-image {
  width: 100%;
}

.project-image img {
  width: 100%;
  border: 1px solid #3b5998;
  border-radius: 5px;
}

.project-description {
  width: 100%;
}

.main-container {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #3b5998;
  padding: 15px;
}

.main-container h2 {
  margin: 0px;
}

.main-container h3 {
  margin: 0px;
}

.about-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.left-about-container {
  width: 23%;
  margin-right: 2%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #3b5998;
  padding: 15px;
}

.left-about-container img {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
}

.right-about-container {
  width: 75%;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #3b5998;
}

.right-about-container a {
  color: #3b5998;
  text-decoration: none;
}

@media all and (max-width: 768px) {
  .master-inner-div {
    padding: 25px;
  }
  .left-outer-container {
    width: 100%;
  }
  .left-inner-container {
    padding: 0px;
  }
  .nav-container {
    padding: 0px; 
    border: none;
  }
  .right-outer-container {
    width: 100%;
  }
  .single-nav-icon {
    width: 20%;
    padding: 0 5px;
    margin: 0px;
  }
  .library-container {
    width: 100%;
    margin-top: 15px;
  }
}